{% extends 'base.html' %}

{% block scrips %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}
<div class="container py-3">
    <div class="row">
        <div class="col-4">
            <form method="post" class="form-floating">
                {{ products_form.csrf_token }}
                <div class="row form-floating py-1">
                    {{ products_form.product(class='form-control') }}
                    {{ products_form.product.label(class='form-label') }}
                </div>
                <div class="row form-floating py-1">
                    <div class="col form-floating">
                        {{ products_form.quantity(class='form-control') }}
                        {{ products_form.quantity.label(class='form-label') }}
                    </div>
                    <div class="col form-floating">
                        {{ products_form.measure(class='form-control') }}
                        {{ products_form.measure.label(class='form-label') }}
                    </div>
                </div>

                <div class="row form-floating py-1">
                    {{ products_form.add(class='btn btn-primary') }}
                </div>
            </form>
        </div>

        <div class="col-1"></div>

        <div class="col-7">
            <table class="table">
                <thead>
                <tr>
                    <th>Продукт</th>
                    <th>Кількість</th>
                    <th>Ккал</th>
                    <th>Білки</th>
                    <th>Жири</th>
                    <th>Вуглеводи</th>
                    <th>Клітковина</th>
                </tr>
                </thead>
                <tbody>
                {% for product, values in products.items() %}
                <tr>
                    <td>{{ product }}</td>
                    <td>{{ values['weight'][0] }} {{ values['weight'][1] }}</td>
                    <td>{{ values['kcal'] }}</td>
                    <td>{{ values['proteins'] }}</td>
                    <td>{{ values['fats'] }}</td>
                    <td>{{ values['carbs'] }}</td>
                    <td>{{ values['fibers'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Сума</td>
                        <td>{{ results['weight']|round(1) }}</td>
                        <td>{{ results['kcal']|round(1) }}</td>
                        <td>{{ results['proteins']|round(1) }}</td>
                        <td>{{ results['fats']|round(1) }}</td>
                        <td>{{ results['carbs']|round(1) }}</td>
                        <td>{{ results['fibers']|round(1) }}</td>
                    </tr>
                </tfoot>
            </table>
            <form method="post" class="form-floating">
                {{ meal_form.csrf_token }}
                <div class="row form-floating py-1">
                    {{ meal_form.meal(class='form-control') }}
                    {{ meal_form.meal.label(class='form-label') }}
                </div>
                <div class="row form-floating py-1">
                    {{ meal_form.name(class='form-control') }}
                    {{ meal_form.name.label(class='form-label') }}
                </div>
                <div class="row py-1">
                    {{ meal_form.submit(class='btn btn-primary w-25 mx-1') }}
                    {{ meal_form.clear(class='btn btn-primary w-25 mx-1') }}
                </div>
            </form>
        </div>
    </div>
</div>


        {# Скрипт для випадного пошуку #}
<script>
    $( function() {
    var availableProds = [
        {% for product in all_products %}
            "{{product.product}}",
        {% endfor %}
    ];
    $( "#product" ).autocomplete({
      source: availableProds
    });
    } );
</script>
{% endblock %}