{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
    <div class="shadow-lg p-4 mb-5 bg-body rounded">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="row p-2">
                <div class="col-3">
                    <div class="form-floating">
                        {{ form.first_name(class="form-control", value=person.first_name if person.first_name) }}
                        {{ form.first_name.label(class="form-label") }}
                    </div>
                </div>
                <div class="col-3">
                     <div class="form-floating">
                         {{ form.last_name(class="form-control", value=person.last_name if person.last_name) }}
                         {{ form.last_name.label(class="form-label") }}
                    </div>
                </div>
                <div class="col-3">
                     <div class="form-floating">
                         {{ form.sex(class="form-control", value=person.sex if person.sex) }}
                         {{ form.sex.label(class="form-label") }}
                    </div>
                </div>
                <div class="col-3">
                     <div class="form-floating">
                         {{ form.birthday(class="form-control", value=person.birthday if person.birthday) }}
                         {{ form.birthday.label(class="form-label") }}
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-3">
                    <div class="form-floating input-group mb-3">
                        {{ form.weight(class="form-control", value=person.weight if person.weight) }}
                        {{ form.weight.label(class="form-label") }}
                        <span class="input-group-text">кг</span>
                    </div>
                </div>
                <div class="col-3">
                     <div class="form-floating input-group mb-3">
                         {{ form.height(class="form-control", value=person.height if person.height) }}
                         {{ form.height.label(class="form-label") }}
                         <span class="input-group-text">см</span>
                    </div>
                </div>
                <div class="col-3">
                     <div class="form-floating input-group mb-3">
                         {{ form.constitution(class="form-control", value=person.constitution if person.constitution) }}
                         {{ form.constitution.label(class="form-label") }}
                         <span class="input-group-text">
                             <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#constTypes">
                                ?
                             </button>
                         </span>
                    </div>
                </div>
                <div class="col-3">
                     <div class="form-floating input-group mb-3">
                         {{ form.activity(class="form-control", value=person.activity if person.activity) }}
                         {{ form.activity.label(class="form-label") }}
                         <span class="input-group-text">
                             <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#activityRate">
                                ?
                             </button>
                         </span>
                         {% for error in form.activity.errors %}
                            <div class="alert alert-danger">
                            {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-3">
                    {{ form.submit(class="btn btn-primary") }}
                    <a href="{{ url_for('profile_bp.user', id=current_user.id) }}" class="btn btn-primary">Скасувати</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="constTypes" tabindex="-1" aria-labelledby="constTypesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="constitutionModalLabel">Типи статури</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <h6>Статура — пропорції та особливості частин тіла та розвитку кісткової, жирової та м’язової тканин.<br/>
              Розрізняють три типи статури.</h6>
          <p><strong>Астенік (ектоморф)</strong></p>
          <p>Худорлявий і витончений, вузькі плечі і грудна клітка, довгі ноги і руки, тонкі кістки, слабко виражені м'язи.
              Найчастіше це людина високого зросту і з високою швидкістю обміну речовин. М'язова маса нарощується важко.</p>
          <p><strong>Нормостенік (мезоморф)</strong></p>
          <p>Пропорційні розміри тіла, середня або широка кістка. Найчастіше це люди середнього зросту.
              Мускулисте тіло, міцний скелет, правильна довжина кінцівок, помірно широка грудна клітка, виражені м'язи.
              Спокійні, стримані, практичні люди, які показують кращі результати в спорті.</p>
          <p><strong>Гіперстенік (ендоморф)</strong></p>
          <p>Найчастіше низький зріст і повна статура, короткі кінцівки і шия, широкі грудна клітка і стегна,
              міцний скелет, повільний обмін речовин, схильність до зайвої ваги, знижена активність нервової системи.
              Ця категорія людей не любить спорт і фізичні навантаження.</p>
          <p><strong>Найпростіший спосіб визначити тип своєї тілобудови:</strong></p>
          <p>Вказівний і великий пальці вільно охоплюють зап'ястя, стикаючись біля нігтів. Це означає, що у тебе астенічний тип статури.</p>
          <p>Якщо великий і вказівний пальці торкаються один одного кінчиками подушечок, ти – нормостенік.</p>
          <p>У випадку, якщо твої пальці не торкаються один одного, ти – гіперстенік.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Дізнатися більше</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="activityRate" tabindex="-1" aria-labelledby="activityRateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activityRateModalLabel">Коефіцієнт аквтиності</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p><strong>1.2</strong></p>
          <p>Мінімальне навантаження (сидяча робота)</p>
          <p><strong>1.375</strong></p>
          <p>Незначна денна активність і легкі вправи 1-3 рази на тиждень</p>
          <p><strong>1.4625</strong></p>
          <p>Тренування 4-5 разів на тиждень (або праця середньої тяжкості)</p>
          <p><strong>1.550</strong></p>
          <p>Інтенсивні тренування 4-5 разів на тиждень</p>
          <p><strong>1.6375</strong></p>
          <p>Щоденні тренування</p>
          <p><strong>1.725</strong></p>
          <p>Щоденні інтенсивні тренування або тренування двічі на день</p>
          <p><strong>1.9</strong></p>
          <p>Важка фізична праця або інтенсивні тренування двічі на день</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




{% endblock %}