body {
    background: #f1f2f7;
}

.form {
    width: 50%;
}

.nav-link, .navbar-brand {
    color: ivory;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.side-btn {
    width: 90%;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
}

td {text-align: center;}

.dropdown-menu#add_prod_form {
    min-width: 400px;
}

#main_back {
    background: none;
}
