{% extends'base.html' %}

{% block content %}

    <div class="container shadow-lg p-3 mb-5 bg-body rounded">
        <h2 style="text-align: center">Вкажи харчову цінність продукту</h2>
        <br>
        <form method="post">
            {{ form.hidden_tag() }}

            <div class="row p-2">
                <div class="col">
                    <div class="form-floating">
                        {{ form.name(class="form-control", placeholder='name') }}
                        {{ form.name.label(class="form-label") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        {{ form.category(class="form-control", placeholder='cat') }}
                        {{ form.category.label(class="form-label") }}
                    </div>
                </div>
            </div>

            <div class="row p-2">
                <div class="col">
                    <div class="form-floating">
                        {{ form.kcal(class="form-control", placeholder='kcal') }}
                        {{ form.kcal.label(class="form-label") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        {{ form.proteins(class="form-control", placeholder='proteins') }}
                        {{ form.proteins.label(class="form-label") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        {{ form.fats(class="form-control", placeholder='fats') }}
                        {{ form.fats.label(class="form-label") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        {{ form.carbs(class="form-control", placeholder='carbs') }}
                        {{ form.carbs.label(class="form-label") }}
                    </div>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-3">
                    <div class="form-floating">
                        {{ form.fibers(class="form-control", placeholder='fibers') }}
                        {{ form.fibers.label(class="form-label") }}
                    </div>
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3">
                    {{ form.submit(class="btn btn-secondary btn-lg container-fluid") }}
                </div>
            </div>
        </form>
    </div>

{% endblock %}