{% extends 'base.html' %}

{% block content %}
    <div class="container shadow-lg">

{#    {% if mode == 'water' %}#}
        <h4>Перевір, чи правильно вказана твоя теперішня вага</h4>
        <form class="form" method="post">
            {{ form.hidden_tag() }}

            {{ form.weight.label(class='form-label') }}
            {{ form.weight(class='form-control') }}
            <br>
            {{ form.submit(class="btn btn-secondary")}}
        </form>
{#    {% elif mode == '' %}    #}
{#    {% elif mode == '' %}    #}
{#    {% elif mode == '' %}    #}


    </div>

{#    {% endif %}#}

{% endblock %}