{% for cat, msg in get_flashed_messages(with_categories=True) %}
    <button type="button" class="btn btn-primary" id="liveToastBtn" style="display: none">Show live toast</button>

    <div class="toast-container position-fixed bottom-0 end-0 p-3 show">
        <div class="toast show">
            <div class="toast-header">
                {{ cat }}
                <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                {{ msg }}
            </div>
        </div>
    </div>
{% endfor %}

<script>
    document.getElementById("toastbtn").onclick = function() {
        let toastElList = [].slice.call(document.querySelectorAll('.toast'))
        let toastList = toastElList.map(function(toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show())
    }
</script>
