<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <style>
        .registration {border: 2px solid black; padding: 5px; margin: 5px; align-self: center;}
    </style>
</head>
<body>
<div class="registration" >
<form name="registration" target="_self" action="index.html" method="post">
    <label for="email">Email: </label>
    <input type="text" id="email"><br>
    <label for="password">Password: </label>
    <input type="password" id="password"><br>
    <input type="submit">
</form>
</div>
</body>
</html>