{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center">LOGIN</h1>

    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <form method="post">
            {{ form.hidden_tag() }}

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            <br>
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            <br>

            {{ form.submit(class="btn btn-secondary") }}

        </form>
    </div>

{% endblock %}