{% extends 'base.html' %}

{% block content %}
    <center><h1>LOGIN</h1></center>
    <br>
    {% for cat, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
            <strong>{{ msg }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {% endfor %}
    </div>
    <br>

    <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <form method="post">
    {{ form.hidden_tag() }}

    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
    <br>
    {{ form.password.label(class="form-label") }}
    {{ form.password(class="form-control") }}
    <br>

    {{ form.submit(class="btn btn-secondary") }}

    </form>
    </div>

{% endblock %}