<nav class="navbar navbar-expand-lg bg-primary text-bg-light">

    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Q24</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user', id=current_user.id) }}">Мій профіль</a>
        </li>
        {% endif %}

        <li class="nav-item dropdown">
            <a class="nav-link" href="{{ url_for('calculations', mode='about') }}">Розрахунки</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stock') }}">Мої продукти</a>
        </li>

        {% if not current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('registration') }}">Реєстрація</a>
            </li>
        {% endif %}

        {% if not current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Увійти</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Вийти</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_product') }}">Додати продукт</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('recipes') }}">Рецепти</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_recipe') }}">Додати рецепт</a>
        </li>

    </ul>

    </div>

    </div>

</nav>