{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 my-0">
        {% for recipy in recipes %}
        <div class="col">
            <div class="card border-primary">
                <img src="../static/images/recipes/{{ recipy.picture }}" class="card-img-top" style="object-fit: cover; height: 200px" alt="..."/>
                <div class="card-header text-center"><strong>{{ recipy.name }}</strong></div>
                <div class="card-body" style="height: 200px; overflow: hidden">
                    <p>{{ recipy.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('recipe', id=recipy.id) }}" class="btn btn-primary">Рецепт</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}