{% extends 'base.html' %}

{% block scrips %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<div class="row container-fluid">
    <div class="col-4 container">
        <h3 style="text-align: center">Додати новий продукт</h3>
        <form method="post">
            {{ form.csrf_token }}
            <div class="row">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form.quantity.label(class="form-label") }}
                    {{ form.quantity(class="form-control") }}
                </div>
                <div class="col">
                    {{ form.measure.label(class="form-label") }}
                    {{ form.measure(class="form-control") }}
                </div>
                <div class="col">
                    {{ form.price.label(class="form-label") }}
                    {{ form.price(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.produced_date.label(class="form-label") }}
                    {{ form.produced_date(class="form-control") }}
                </div>
                <div class="col">
                    {{ form.expired_date.label(class="form-label") }}
                    {{ form.expired_date(class="form-control") }}
                </div>
            </div>
            <br>
            <div class="row">
                {{ form.submit(class="btn btn-secondary") }}
            </div>
        </form>

        <br>
        <h3 style="text-align: center">Використати продукт</h3>
        <form method="post">
            {{ useform.csrf_token }}
            <div class="row">
                {{ useform.name.label(class='form-label') }}
                {{ useform.name(class='form-control') }}
            </div>
            <div class="row form-check form-check-inline"  >
                {{ useform.full.label(class='form-check-label', type='checkbox') }}
                {{ useform.full(class='form-check-input', type='checkbox') }}
            </div>
            <div class="row" id="quant">
                {{ useform.quant.label(class='form-label') }}
                {{ useform.quant(class='form-control') }}
            </div>
            <br>
            <div class="row">
                {{ useform.submit(class="btn btn-secondary") }}
            </div>
        </form>

    </div>

    <div class="col-8">
    <h3 style="text-align: center">Мої продукти</h3>
    {% if products %}

        <table class="table table-striped">
            <tr>
                <th>Продукт</th>
                <th>К-сть</th>
                <th>Міра</th>
                <th>Виготовлено</th>
                <th>Придатний до</th>
                <th>Ціна</th>
                <th>Статус</th>
                <th>Дата додавання</th>
            </tr>
            {% for group, product in products %}
            <tr>
                <td colspan="8"><h6>{{ group }}</h6></td>
            </tr>
            {% for prod in product %}
            <tr>
                <td>{{ prod.product_name }}</td>
                <td>{{ prod.quantity }}</td>
                <td>{{ prod.measure }}</td>
                <td>{{ prod.produced }}</td>
                <td>{{ prod.expired }}</td>
                <td>{{ prod.price }}</td>
                <td>{{ prod.status }}</td>
                <td>{{ prod.date_added }}</td>
            </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <p>У вас ще немає внесених продуктів</p>
    {% endif %}
    </div>
</div>
{#    <script>#}
{#    function myFunc(){#}
{#        let checked = document.getElementById('full').checked#}
{#        alert(checked)#}
{#        if (checked){#}
{#             document.getElementById('quant').style.display = 'block';#}
{#        } else {#}
{#            document.getElementById('quant').style.display = 'none';#}
{##}
{#        }#}
{#    }#}
{#    myFunc()#}
{#    </script>#}
    <script>
    $( function() {
    var availableProds = [
        {% for product in all_products %}
            "{{product}}",
        {% endfor %}
    ];
    $( "#name" ).autocomplete({
      source: availableProds
    });
    } );
  </script>
{% endblock %}
