{% extends 'base.html' %}

{% block content %}

<div class="row container-fluid">
    <div class="col-5 container">
        <h3 style="text-align: center">Додати новий продукт</h3>
        <form method="post">
            {{ form.csrf_token }}
            <div class="row">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form.quantity.label(class="form-label") }}
                    {{ form.quantity(class="form-control") }}
                </div>
                <div class="col">
                    {{ form.measure.label(class="form-label") }}
                    {{ form.measure(class="form-control") }}
                </div>
                <div class="col">
                    {{ form.price.label(class="form-label") }}
                    {{ form.price(class="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form.produced_date.label(class="form-label") }}
                    {{ form.produced_date(class="form-control") }}
                </div>
                <div class="col">
                    {{ form.expired_date.label(class="form-label") }}
                    {{ form.expired_date(class="form-control") }}
                </div>
            </div>
            <br>
            <div class="row">
                {{ form.submit(class="btn btn-secondary") }}
            </div>
        </form>
    </div>

    <div class="col-7">
    <h3 style="text-align: center">Мої продукти</h3>
    {% if products %}

        <table class="table table-striped">
            <tr>
                <th>Продукт</th>
                <th>К-сть</th>
                <th>Міра</th>
                <th>Виготовлено</th>
                <th>Придатний до</th>
                <th>Ціна</th>
                <th>Статус</th>
                <th>Дата додавання</th>
            </tr>
        {% for prod in products %}
            <tr>
                <td>{{ prod.product_name }}</td>
                <td>{{ prod.quantity }}</td>
                <td>{{ prod.measure }}</td>
                <td>{{ prod.produced_date }}</td>
                <td>{{ prod.expired_date }}</td>
                <td>{{ prod.price }}</td>
                <td>{{ prod.status }}</td>
                <td>{{ prod.date_added }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>У вас ще немає внесених продуктів</p>
    {% endif %}
    </div>
</div>
{% endblock %}