{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row row-cols-1 row-cols-md-2 g-3 my-0">
                {% for key, value in stats.items() %}
                <div class="card px-0">
                    <div class="card-header">{{ key }}</div>
                    <div class="card-body">{{ value }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            <div class="row py-3">
                <form method="post">
                    {{ form.csrf_token }}
                    <div class="row">
                    <div class="col-8">
                        <div class="form-floating">
                            {{ form.choice(class='form-control') }}
                            {{ form.choice.label(class='form-label') }}
                        </div>
                    </div>
                    <div class="col-4">
                        {{ form.submit(class='btn btn-lg btn-primary container-fluid') }}
                    </div>
                    </div>
                 </form>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-striped table-primary text-center">
                        <thead>
                            <th>Продукт</th>
                            <th>Кількість</th>
                            <th>Вартість</th>
                            <th>Дата</th>
                        </thead>
                        <tbody>
                            {% for item in trash %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.quantity }} {{ item.measure }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.date_thrown.strftime('%d-%m-%Y') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}