{% extends 'base.html' %}

{% block content %}

    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control", value=person.first_name if person.first_name) }}
            <br>
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control", value=person.last_name if person.last_name) }}
            <br>
            {{ form.sex.label(class="form-label") }}
            {{ form.sex(class="form-control", value=person.sex) }}
            <br>
            {{ form.birthday.label(class="form-label") }}
            {{ form.birthday(class="form-control", value=person.birthday) }}
            <br>
            <hr>
            <br>
            {{ form.weight.label(class='form-label') }}
            {{ form.weight(class="form-control", value=person.weight if person.weight) }}
            <br>
            {{ form.height.label(class='form-label') }}
            {{ form.height(class="form-control", value=person.height if person.height) }}
            <br>
            {{ form.constitution.label(class='form-label') }}
            {{ form.constitution(class="form-control", value=person.constitution) }}
            <br>
            {{ form.activity.label(class='form-label') }}
            {{ form.activity(class="form-control", value=person.activity if person.activity) }}
            <br>
            {{ form.submit(class="btn btn-secondary") }}
            <a href="{{ url_for('user', id=current_user.id) }}" class="btn btn-secondary">Скасувати</a>
            <br>
        </form>
    </div>

{% endblock %}