{% extends 'base.html' %}

{% block content %}

    <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <form method="post">
    {{ form.hidden_tag() }}

    {{ form.first_name.label(class="form-label") }}
    {{ form.first_name(class="form-control", value=person.first_name) }}
    <br>
    {{ form.last_name.label(class="form-label") }}
    {{ form.last_name(class="form-control", value=person.last_name) }}
    <br>
    {{ form.sex.label(class="form-label") }}
    {{ form.sex(class="form-control", value=person.sex) }}
    <br>
    {{ form.birthday.label(class="form-label") }}
    {{ form.birthday(class="form-control", value=person.birthday) }}
    <br>

    {{ form.submit(class="btn btn-secondary") }}

    </form>
    </div>

{% endblock %}