{% extends 'base.html' %}

{% block content %}
    {% for cat, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
            <strong>{{ msg }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <hr>
    <h1 align="center" class="text-dark">PROFILE</h1>
{#<h2>User email: {{ user.email }}</h2>#}
{#    <h3>Email confirm - {{ user.email_confirmed }}</h3>#}
{#    <h4>registered at - {{ user.registration_date }}</h4>#}
    <div class="container  shadow-lg">
    <div class="row">
        <div class="col-3">
        <br>
            <div class="container shadow-lg ">
            {% if current_user.profile_pic %}
                <br>
                <img src="{{ url_for('static', filename='images/profiles/' + current_user.profile_pic) }}" width="200" class="center"><br>
                <br>
            {% else %}
                <br>
                <img src="../static/images/profiles/user-pic.png" width="200" class="center"><br>
                <br>
            {% endif %}
            </div>
                <br>
            <a class="btn btn-dark btn-sm" href="{{ url_for('user', id=current_user.id) }}">Змінити фото</a>
            <a class="btn btn-dark btn-sm" href="{{ url_for('delete_picture') }}">Видалити фото</a>
                <br><br>
        </div>
        <div class="col-8">
        <br>
    {% if person.first_name %}
    <h5>{{ person.first_name }}</h5>
    {% endif %}
    {% if person.last_name %}
    <h5>{{ person.last_name }}</h5>
    {% endif %}
    {% if person.sex %}
    <h5>{{ person.sex }}</h5>
    {% endif %}
    {% if person.birthday %}
    <h5>{{ person.birthday }}</h5>
    {% endif %}

    <a class="btn btn-dark" href="{{ url_for('update_personal_info', id=user.id) }}">Додати інфо</a>

    <a class="btn btn-dark" href="{{ url_for('logout') }}">Вийти</a>
        </div>

        </div>
</div>
{% endblock %}