{% extends 'base.html' %}

{% block content %}
    {% for cat, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
            <strong>{{ msg }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <hr>
    <h1 align="center" class="text-dark">PROFILE</h1>
<h2>User email: {{ user.email }}</h2>
    <h3>Email confirm - {{ user.email_confirmed }}</h3>
    <h4>registered at - {{ user.registration_date }}</h4>
    <h5>Ім’я: {{ person.first_name }}</h5>
    <h5>Прізвище: {{ person.last_name }}</h5>

    <a class="btn btn-dark" href="{{ url_for('update_personal_info', id=user.id) }}">Update</a>

    <a class="btn btn-dark" href="{{ url_for('logout') }}">Logout</a>

{% endblock %}